.footerContainer{
  padding: 50px;
  
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  padding: 100px;
  margin-top: 70px;
  
  
}
.BacktoTop{
  padding: 10px;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}
.para{
  color: gray;
}

.footerinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  padding: 40px;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Contact {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact a {
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Contact a:hover {
  color: white;
  background-color: rgb(243, 189, 13);
  border-radius: 50%;
}

ion-icon {
  border-radius: 50%;
  padding: 10px;
}
.link{
  color: black;
  text-decoration: none;
}

.link:hover{
  color: rgb(243, 189, 13);
  text-decoration: wavy;
}
.signature{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media(max-width:700px){
  .footerinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
}