.homepage {
  background-color: white;
  color: black;
  background-image: url("./images/bg4-image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center; 
  
}

.welcomeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  padding: 20px;
  gap: 80px;
}

.details {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nameIntro {
  color: rgb(243, 189, 13);
}

.myWork {
  background-color: rgb(243, 189, 13);
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
  font-weight: lighter;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0px 0px black;
  border: 1px solid black;
  border-radius: 5px;
}

.myWork:hover {
  color: white;
  box-shadow: 2px 2px black;
  background-color: black;
  border: 1px solid black;
}

.imageContainer {
  position: relative; 
  width: 25vw; 
  height: 25vw; 
  margin-top: 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden; 
  background: darkgrey; 
}

.animatedImage {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 50%; 
}

@media(max-width:725px){
  .welcomeDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width:480px){
  .homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
@media(max-width:325px){
  .homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}