.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 100px;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 2px 5px 7px gray;
  overflow: hidden;
}
.skill{
  padding: 20px;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  margin: 20PX;
  font-style: italic;
}


.skills {
  display: flex; 
  animation: circular 50s linear infinite;
  white-space: nowrap; 
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 50px;
  animation: bounce 3s ease-in-out infinite;
  align-items: center;
  justify-content: center;
  gap: 20pz;

  
}

.div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skillimage {
  width: 100px; 
  height: auto;
  margin-right: 10px; 
}


@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
}



@media (max-width:700px){
  .container{
    padding: 10px;
    margin: 10px;  
  }
  .skills{
    gap: 10px;
    animation: bounce 4s ease-in-out infinite;
  }
  .skillimage {
    width: 38px;
  }
}
@media (max-width: 325px) {
  .container {
    padding: 5px;
    margin: 5px;
  }

  .skills {
    gap: 5px; 
    animation: bounce 5s ease-in-out infinite; 
  }

  .skillimage {
    width: 10px; 
  }
}