*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body,html {
  overflow-x: hidden; 
}

#Project{
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 60px;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}
